@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

.title {
  font-size: 60px;
  font-family: 'Lustria', serif;
  width: 100%;
  text-align: center;
}

.title_head {
  font-size: 120px;
}

.comp_msg {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}